html {
  height: 100vh;
}

nav ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
}

.name-logo {
  margin-top: 30px;
  margin-left: 100px;
  font-size: 32px;
  font-weight: 800;
  color: #4a4c53;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
  font-size: 20px;
  font-weight: 800;
}

a {
  margin: 0 5px 0 5px;
  text-decoration: none;
  color: #4a4c53;
}

a:hover {
  color: #a0c7e2;
}

h1 {
  text-align: center;
  font-size: 48px;
  color: #4a4c53;
}

h2 {
  margin-block-start: 10px;
  margin-block-end: 10px;
  color: #4a4c53;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  color: #4a4c53;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.description {
  margin-block-start: 0;
  font-size: 72px;
  color: #a0c7e2;
  text-align: left;
  margin-left: 100px;
  margin-top: 40px;
  width: 100%;
  height: 100vh;
}

.flowers {
  position: absolute;
  object-fit: cover;
  width: 100%;
  z-index: -1;
  pointer-events: none;
}

.work {
  margin-left: 100px;
  margin-right: 100px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 30px;
  position: relative;
  justify-items: center;
  width: 100%;
}

.work2 {
  border: 2px solid #4a4c53;
  padding: 20px;
}

.work3 {
  border: 2px solid #a0c7e2;
  padding: 20px;
}

.work4 {
  border: 2px solid #4a4c53;
  padding: 20px;
}

.work2:hover {
  box-shadow: 12px 12px 0 0 #4a4c53;
  transition-timing-function: ease;
  transition: 0.4s;
  transform: translateY(-7px);
  cursor: pointer;
}

.work3:hover {
  box-shadow: 12px 12px 0 0 #a0c7e2;
  transition-timing-function: ease;
  transition: 0.4s;
  transform: translateY(-7px);
  cursor: pointer;
}

.work4:hover {
  box-shadow: 12px 12px 0 0 #4a4c53;
  transition-timing-function: ease;
  transition: 0.4s;
  transform: translateY(-7px);
  cursor: pointer;
}

.work-top {
  display: flex;
  justify-content: space-between;
}

.work-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.github-icon,
.deployed-icon {
  width: 25px;
  height: 25px;
}

/* .skills {
  margin-top: 20vh;
} */

.contact {
  margin-top: 20vh;
  margin-bottom: 10vh;
}

/* .skills-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  margin-right: 10vw;
  margin-left: 10vw;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

.skill-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.skill {
  text-align: center;
  margin-top: 5vh;
} */

.about {
  margin-top: 20vh;
  height: 90vh;
  margin-left: 100px;
  margin-right: 100px;
}

.about-box {
  margin: 0 auto;
}

.about-me {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  justify-items: center;
  align-content: center;
}

.hello {
  font-size: 32px;
}

.about-info {
  width: 300px;
  height: 300px;
  font-size: 17px;
  color: #4a4c53;
  border: 2px solid #a0c7e2;
  padding: 20px 20px 50px 20px;
  box-shadow: 12px 12px 0px 0px #a0c7e2;
}

.profile-pic {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 2px solid #4a4c53;
  padding: 20px 20px 50px 20px;
  box-shadow: 12px 12px 0px 0px #4a4c53;
}

.skills {
  width: 300px;
  height: 300px;
  font-size: 20px;
  color: #4a4c53;
  border: 2px solid #4a4c53;
  padding: 20px 20px 50px 20px;
  box-shadow: 12px 12px 0px 0px #4a4c53;
}

/* .contact {
  background-color: #a0c7e2;
} */

/* .contact-me {
  font-size: 32px;
} */

.contact-info {
  font-size: 20px;
  text-align: center;
  color: #4a4c53;
}

.icon {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}
