nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.navbar-links {
  margin-top: 20px;
}

.logo {
  margin-left: 100px;
  margin-top: 20px;
}

.name-logo {
  font-family: "Roboto Mono", monospace;
  font-size: 48px;
  font-weight: 800;
  color: #4a4c53;
  text-decoration: none;
}

.name-logo:hover {
  border-bottom: 4px solid #a0c7e2;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
  margin-top: 2px;
  font-size: 20px;
  font-weight: 800;
}

.links {
  margin-left: 10px;
  font-family: "Roboto Mono", monospace;
  color: #4a4c53;
  text-decoration: none;
  border-bottom: 4px solid #a0c7e2;
}

.links:hover {
  color: #a0c7e2;
}
