.wildflowerseries,
.flowerseries,
.wimbseries {
  margin: 0 100px 100px 100px;
}

.series-title {
  font-size: 72px;
  margin-block-start: 0;
}

.bot-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  row-gap: 50px;
  position: relative;
  justify-items: center;
  margin: 100px 30px;
}
.flower-image {
  width: 500px;
  object-fit: contain;
  pointer-events: none;
}

.wild-container {
  display: grid;
  row-gap: 50px;
  position: relative;
  justify-items: center;
  margin: 100px;
}
.wildflower-image {
  width: 100%;
  object-fit: contain;
  pointer-events: none;
}
.pdf {
  font-size: 36px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr 1fr));
  position: relative;
}
.pdfButton {
  text-align: center;
}
.pgs {
  font-family: "Karla", sans-serif;
  font-weight: bolder;
  font-size: 20px;
  color: #323232;
}
.prevButton,
.nextButton {
  border: 0;
  background-color: #323232;
  color: #fcfcfc;
  width: 40px;
  height: 20px;
}

.wimb-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  row-gap: 50px;
  position: relative;
  justify-items: center;
  margin: 100px;
}
.wimb-image {
  width: 600px;
  object-fit: contain;
  pointer-events: none;
}

.artworks {
  margin: 0 100px 100px 100px;
}
.artworks-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  row-gap: 30px;
  gap: 50px;
  position: relative;
  justify-items: center;
}

.arts {
  width: 450px;
}

.art-title {
  font-weight: 900;
  font-size: 32px;
}

.art-brief {
  font-weight: normal;
  font-size: 20px;
}

.art-image {
  width: 450px;
  height: 450px;
  object-fit: cover;
  margin: 0 auto;
  position: relative;
  transition: transform 200ms ease;
}
.art-image:hover {
  cursor: pointer;
  transform: rotate(-2deg);
}

@media screen and (max-width: 1440px) and (max-height: 900px) {
  .wildflowerseries {
    margin: 0;
  }
}
@media screen and (max-width: 1024px) and (max-height: 1366px) {
  .artworks {
    margin: 0 auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
}
@media (max-width: 420px) {
  .artworks {
    margin: 0 auto;
    margin-top: 20vh;
  }
  .wip {
    text-align: center;
  }
}
@media (max-width: 320px) {
  .artworks {
    margin-bottom: 20vh;
  }
  .wip {
    text-align: center;
  }
}
