html {
  background-color: #fcfcfc;
}

h1 {
  font-family: "Roboto Mono", monospace;
  font-size: 48px;
  color: #323232;
}

h2 {
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  color: #323232;
  margin-block-end: 10px;
}

p {
  color: #323232;
}

.section-title {
  font-family: "Roboto Mono", monospace;
  text-align: left;
  color: #323232;
}

.links {
  margin-left: 10px;
  font-family: "Roboto Mono", monospace;
  color: #323232;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 4px solid #323232;
  transition: all 0.25s linear;
  position: relative;
}

.links:before {
  content: "";
  width: 100%;
  height: 5px;
  bottom: -5px;
  background-color: #323232;
  position: absolute;
  transform-origin: left;
  transform: scale(0);
  transition: 0.25s linear;
}

.links:hover:before {
  transform: scale(1);
}

@media (max-width: 420px) {
  .section-title {
    font-family: "Roboto Mono", monospace;
    font-size: 36px;
    text-align: center;
  }
}
