.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.description {
  margin-block-start: 0;
  text-align: left;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 50px;
  width: 100vw;
}

.heading1 {
  font-family: "Roboto Mono", monospace;
  font-size: 40px;
  font-weight: 800;
  color: #f6ff97;
  margin-block-start: 0;
  margin-block-end: 0;
}

.heading2 {
  font-family: "Roboto Mono", monospace;
  font-size: 70px;
  font-weight: 800;
  color: #f6ff97;
  margin-block-start: 0;
  margin-block-end: 0;
}

.flowers {
  position: absolute;
  object-fit: cover;
  width: 100%;
  z-index: -1;
  margin-top: 100px;
  pointer-events: none;
}

@media (max-width: 420px) {
  .description {
    margin-block-start: 0;
    text-align: center;
    margin-top: 50px;
  }

  .heading1 {
    font-family: "Roboto Mono", monospace;
    font-size: 28px;
    font-weight: 800;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .heading2 {
    font-family: "Roboto Mono", monospace;
    font-size: 48px;
    font-weight: 800;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .flowers {
    margin: 0;
    height: 100vh;
    opacity: 1;
  }
}
