.logo {
  margin-left: 100px;
  margin-top: 40px;
}

.name-logo {
  font-family: "Roboto Mono", monospace;
  font-size: 24px;
  font-weight: 800;
  color: #f6ff97;
  text-decoration: none;
  transition: all 0.25s linear;
  position: relative;
}

.name-logo:before {
  content: "";
  width: 100%;
  height: 4px;
  bottom: -4px;
  background-color: #313641;
  position: absolute;
  transform-origin: left;
  transform: scale(0);
  transition: 0.25s linear;
}

.name-logo:hover:before {
  transform: scale(1);
}

@media screen and (max-width: 675px) {
  nav {
    display: flex;
    margin-top: 25px;
    justify-content: center;
  }
  .logo {
    margin: 0 auto;
    margin-left: 20px;
  }
  .name-logo {
    font-family: "Roboto Mono", monospace;
    font-size: 28px;
    font-weight: 800;
    text-decoration: none;
  }
}
@media screen and (max-width: 420px) {
  nav {
    display: flex;
    margin-top: 25px;
    justify-content: center;
  }
  .logo {
    margin: 0 auto;
  }
  .name-logo {
    font-family: "Roboto Mono", monospace;
    font-size: 28px;
    font-weight: 800;
    text-decoration: none;
  }
}
