nav {
  margin-top: 30px;
  margin-left: 100px;
}

.name-logo {
  font-family: "Karla", sans-serif;
  font-size: 32px;
  font-weight: 800;
  padding-bottom: 5px;
  color: #323232;
  text-decoration: none;
  transition: all 0.25s linear;
  position: relative;
}

.name-logo:before {
  content: "";
  width: 100%;
  height: 5px;
  bottom: -5px;
  background: rgb(255, 166, 209);
  background: linear-gradient(
    90deg,
    rgba(255, 166, 209, 1) 20%,
    rgba(255, 235, 127, 1) 50%,
    rgba(166, 223, 255, 1) 80%
  );
  position: absolute;
  transform-origin: left;
  transform: scale(0);
  transition: 0.25s linear;
}

.name-logo:hover:before {
  transform: scale(1);
}

@media screen and (max-width: 1024px) and (max-height: 1366px) {
  .logo {
    margin: 100px 100px 0 0;
    text-align: end;
  }
  .name-logo {
    font-size: 48px;
  }
}
@media screen and (max-width: 1024px) and (max-height: 768px) {
  .logo {
    margin: 50px 50px 0 0;
    text-align: end;
  }
  .name-logo {
    font-size: 48px;
  }
}
@media screen and (max-width: 768px) and (max-height: 1024px) {
  .logo {
    margin: 50px 50px 0 0;
    text-align: end;
  }
  .name-logo {
    font-size: 48px;
  }
}
@media screen and (max-width: 675px) {
  nav {
    display: flex;
    margin-top: 25px;
    justify-content: center;
  }
  .logo {
    margin: 0 auto;
    margin-left: 20px;
  }
  .name-logo {
    font-family: "Karla", sans-serif;
    font-size: 28px;
    font-weight: 800;
    text-decoration: none;
  }
}
@media screen and (max-width: 420px) {
  nav {
    display: flex;
    margin-top: 25px;
    justify-content: center;
  }
  .logo {
    margin: 0 auto;
  }
  .name-logo {
    font-family: "Karla", sans-serif;
    font-size: 28px;
    font-weight: 800;
    text-decoration: none;
  }
}
