.work {
  margin-top: 20vh;
  margin-left: 100px;
  margin-right: 100px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 30px;
  gap: 50px;
  position: relative;
  justify-items: center;
}

.works {
  background-color: #f6ff97;
  padding: 20px;
}

.works:hover {
  box-shadow: 12px 12px 0 0 #313641;
  border: 2px solid #313641;
  transition-timing-function: ease;
  transition: 0.4s;
  transform: translateY(-7px);
  cursor: pointer;
}

.work-top {
  display: flex;
  justify-content: space-between;
}

.wlinks {
  margin-left: 10px;
  font-family: "Roboto Mono", monospace;
  color: #313641;
  text-decoration: none;
  border-bottom: 4px solid #313641;
  transition: all 0.25s linear;
  position: relative;
}

.wlinks:before {
  content: "";
  width: 100%;
  height: 4px;
  bottom: -4px;
  background-color: #f6ff97;
  position: absolute;
  transform-origin: left;
  transform: scale(0);
  transition: 0.25s linear;
}

.wlinks:hover:before {
  transform: scale(1);
}

.work-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

@media (max-width: 420px) {
  .work {
    margin-top: 20vh;
  }

  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    position: relative;
    justify-items: center;
  }
}
