.work {
  margin-top: 20vh;
  margin-left: 100px;
  margin-right: 100px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 30px;
  gap: 50px;
  position: relative;
  justify-items: center;
}

.work2 {
  border: 2px solid #4a4c53;
  background-color: #fff;
  padding: 20px;
}

.work3 {
  border: 2px solid #a0c7e2;
  background-color: #fff;
  padding: 20px;
}

.work4 {
  border: 2px solid #4a4c53;
  background-color: #fff;
  padding: 20px;
}

.work5 {
  border: 2px solid #a0c7e2;
  background-color: #fff;
  padding: 20px;
}

.work2:hover {
  box-shadow: 12px 12px 0 0 #4a4c53;
  transition-timing-function: ease;
  transition: 0.4s;
  transform: translateY(-7px);
  cursor: pointer;
}

.work3:hover {
  box-shadow: 12px 12px 0 0 #a0c7e2;
  transition-timing-function: ease;
  transition: 0.4s;
  transform: translateY(-7px);
  cursor: pointer;
}

.work4:hover {
  box-shadow: 12px 12px 0 0 #4a4c53;
  transition-timing-function: ease;
  transition: 0.4s;
  transform: translateY(-7px);
  cursor: pointer;
}

.work5:hover {
  box-shadow: 12px 12px 0 0 #a0c7e2;
  transition-timing-function: ease;
  transition: 0.4s;
  transform: translateY(-7px);
  cursor: pointer;
}

.work-top {
  display: flex;
  justify-content: space-between;
}

.work-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.work-links {
  font-family: "Roboto Mono", monospace;
  color: #4a4c53;
  text-decoration: none;
  border-bottom: 4px solid #a0c7e2;
}

.work-links:hover {
  color: #a0c7e2;
}

@media (max-width: 420px) {
  .work {
    margin-top: 20vh;
  }

  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    position: relative;
    justify-items: center;
  }
}
